body{
    background-image: url("../images/cyberpunk4k.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto 100%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-weight: bold;
    color: deepskyblue;
}
#titlecss{
    margin-top: 2px;
    margin-bottom: 6px;
    font-family: "Microsoft JhengHei UI";
    font-size: 60px;
    color: deeppink;
    text-align: center;
    -webkit-text-stroke-color: #5d7eff;
    -webkit-text-stroke-width: 1.5px;
}

.error{
    font-size: 25px;
    font-weight: bold;
    color: deeppink;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.error2{
    font-size: 20px;
    font-weight: bold;
    color: deeppink;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}
input[type=text]{
    width: 100%;
    color: #ffffff;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #4b04b9;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #4b04b9;
}
input[type=password]{
    width: 100%;
    color: grey;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #4b04b9;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #4b04b9;
}
input[type=submit] {
    width: 100%;
    background-color: deeppink;
    color: #ffffff;
    font-size: 18px;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: dodgerblue;
}

@media (max-width: 425px) {
    body{
        background-image: url("../images/cyberpunk.jpg");
    }
    #titlecss{
        font-size: 40px;
    }
    .first{
        padding-left: 0;
        font-size: 30px;
    }
    .second{
        font-size: 25px;
    }
    #tabela {
        width: 90%;
        font-size: 15px;

    }
}

@media (min-width: 426px) and (max-width: 800px) {
    body{
        background-image: url("../images/1096897.jpg");
    }
    #titlecss{
        font-size: 40px;
    }
    .first{
        padding-left: 0;
        font-size: 30px;
    }
    .second{
        font-size: 25px;
    }
    #tabela {
        width: 90%;
        font-size: 15px;

    }
}
@media (min-width: 801px) and (max-width: 1080px){
    body{
        background-image: url("../images/1096897.jpg");
    }
}

